name: "Build and Test"
on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        emacs_version: ["29.2", "30.2", release-snapshot]

    steps:
      - uses: actions/checkout@v6
      - name: Setup Emacs
        uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}
      - name: Check emacs version
        run: emacs --version
      - name: Check
        run: nix develop -c make test
